[data-theme='light'] {
  --color-primary: #dfdfdf;

  --color-foreground-primary: #161616;
  --color-foreground-secondary: #575757;

  --color-background-primary: #161616;
  --color-background-secondary: #575757;
  
  --color-background: #f9f9f9;
  --color-foreground: #efefef;

  --color-foreground-border: #d1d1d1;

  --color-error: #ff2056;
  --color-warning: #ff8904;
  --color-success: #7ccf00;
}
